<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>
<form action="#" th:action="@{/bookspage/addbook}" th:object="${bookReqDTO}" method="post">
    <label for="title">Title</label>
    <input type="text" th:field="*{title}" id="title">
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    <br/>
    <label for="author">Author</label>
    <input type="text" th:field="*{author}" id="author">
    <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
    <br/>
    <label for="isbn">Isbn</label>
    <input type="text" th:field="*{isbn}" id="isbn">
    <span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></span>
    <br/>
    <label for="genre">Genre</label>
    <input type="text" th:field="*{genre}" id="genre">
    <span th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></span>
    <br/>
    <input type="submit" value="Add Book">
</form>
</body>
</html>
