<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/bookspage/index}" th:object="${book}" method="post">
    <label for="title">Title</label>
    <input type="text" th:field="*{title}" id="title" readonly>
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    <br/>
    <label for="author">Author</label>
    <input type="text" th:field="*{author}" id="author" readonly>
    <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
    <br/>
    <label for="isbn">Isbn</label>
    <input type="text" th:field="*{isbn}" id="isbn" readonly>
    <span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></span>
    <br/>
    <label for="genre">Genre</label>
    <input type="text" th:field="*{genre}" id="genre" readonly>
    <span th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></span>
    <br/>
    <input type="submit" value="목록으로">
</form>
</body>
</html>